*{
    margin: 0;
    padding: 0;
    color: rgb(14, 13, 13);
}
body{
    background-image: url(https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.sub-div1{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px; 
    
}
form{
    position: absolute;
    top: 30%;
    left: 30%;
    border: 2px solid rgb(73, 73, 161);
    padding: 30px;
    line-height: 35px;
}
button{
    width: 300px;
    

}
.val{
    color: green;
}
.error{
    color: red;
}













input{
    color: transparent;
    display: block;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
    box-sizing: border-box;
    resize: none;
}
input[type="password"]:focus,
input[type="email"]:focus
{   border: 0;
    border-bottom: 2px solid red;
}